html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
html, body, .footer, .textarea-box {
	min-width: 980px;
}
html, body {
	height: 100%;
	min-height: 500px;
	position: relative;
}
a {
	outline: 0;
	color: #ec1d6f;
	text-decoration: none;
	background: none;
	border-bottom: 1px solid;
}
a:hover {
	color: rgba(236, 29, 111, .7);
	text-decoration: none
}
a:active {
	opacity: 1
}
a:active, a:hover {
	outline: 0
}
body {
	background: #fbfbfb;
	color: #8e8e8e;
	font-family: Cuprum, Tahoma, 'Trebuchet MS', sans-serif;
	font-size: .9em;
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 28px;
	font-weight: 400;
	color: #34495e;
	margin: 16px 0 10px;
}
h2 {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	white-space: nowrap;
	padding: 0 5px;
	text-overflow: ellipsis;
}
input {
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
}
.header {
	position: relative;
	text-align: center;
	z-index: 100;
	height: 100px;
	overflow: hidden;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
}
.header__slide {
	display: inline-block;
	padding-left: 100px;
	background: url(logo.png) 0 50% no-repeat;
	-webkit-background-size: 80px auto;
	background-size: 80px auto;
	height: 100%;
	text-align: left;
}
.header__slide h2 {
	padding-left: 0;
}
.header__instruction,
.header__lang {
	position: absolute;
	left: .5em;
	bottom: .5em;
	font-size: 1.2em;
}
.header__lang {
	left: auto;
	bottom: auto;
	right: .5em;
	top: .5em;
}
.header-after {
	display: block;
	height: 100%;
	margin-top: -100px;
}
.textarea-box {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 105px;
}
html body .textarea {
	position: relative;
	width: 50%;
	padding: 0;
	height: 100%;
	margin: 0;
	float: left;
	border: 0;
	font-size: 15px;
	line-height: 1.467;
	color: #34495e;
}
.textarea {
	position: relative;
}
.textarea code {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-x: hidden !important;
	overflow-y: auto !important;
	padding: 10px !important;
	max-height: 100% !important;
}
.textarea code:focus {
	outline: 0;
}
.textarea-left {
	background: #f5f5f5;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	padding: 10px 10px 60px !important;
}
.textarea-right {
	background: #eee !important;
}
.footer {
	position: absolute;
	z-index: 101;
	padding: 0 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 105px;
	text-align: center;
	overflow: hidden;
	font-size: 18px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
	background: #fbfbfb;
}
.footer > * { width: 50% }

.adsbygoogle {
	position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.tags {
	clear: both;
	margin: 0;
	padding: 6px 0 4px;
	list-style-type: none;
	color: #ccc;
	white-space: nowrap;
	overflow: hidden;
}
.tags li {
	display: inline-block;
	margin: 5px;
	text-transform: lowercase;
}
.tags li:before {
	content: '#';
}
.author {
	margin: 0 0 6px;
}
textarea {
	border: none;
	overflow: auto;
	outline: none;
	box-shadow: none;
	resize: none;
}
.language-css {
	word-break: break-word !important;
}
.filter {
	display: block;
	padding: 12px 0 0 0;
	margin: 0;
}
.filter * {
	display: inline-block;
	vertical-align: middle;
}
.filter__text {
	margin-right: 5px;
}
.filter__input {
	margin: 0;
	margin-right: 10px;
	vertical-align: middle; /* border-radius: 5px; border: 1px solid #ccc; padding: 1px 5px;  */

	min-width: 320px;
}
.filter__apply {
	margin: 0;
}
.filter__paste {
	margin: 0;
	float: right;
	margin-right: 30px;
}
.select {
	position: absolute;
	z-index: 101;
	right: 0;
	bottom: 0;
	margin: 15px;
	cursor: pointer;
}
.select_right {
	right: 0;
	bottom: 0;
}
.select_left {
	right: 50%;
	bottom: 0;
}

.info {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 50%;
	font-size: 12px;
	padding: 10px;
	box-sizing: border-box;
	opacity: .5;
	background: #f5f5f5;
	margin-left: -20px;
	padding-left: 30px;
}
.info h2 {
	padding: 0;
	white-space: normal;
	font-size: inherit;
}
