<div class="textarea-box">
	<textarea autofocus
			  class="textarea textarea-left js-input">{% if page.lang == 'ru' %}/* Вставьте ваш CSS сюда вместо этого примера */{% endif %}{% if page.lang == 'en' %}/* Paste your CSS here instead of this example */{% endif %}

.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}</textarea>

<pre class="textarea textarea-right"
		contenteditable=""><code class="language-css js-output"><strong>Loading...</strong></code></pre>
</div>
