<div class="settings">
	<div class="settings__left">
		<form action="" class="filter js-filter">
			{% if page.lang == 'en' %}
				<label class="filter__text">Browserslist</label>
			{% endif %}
			{% if page.lang == 'ru' %}
				<label class="filter__text">Фильтрация браузеров</label>
			{% endif %}

			<input type="text" class="filter__input js-browsers-filter" placeholder="> 1%, last 2 versions">
			<input type="submit" class="filter__apply button" value="{% if page.lang == 'en' %}Apply{% endif %}{% if page.lang == 'ru' %}Применить{% endif %}">
		</form>

		<label class="settings__version">
			<input type="checkbox" class="js-comment" name="" checked>
			<span>
				{% if page.lang == 'en' %}
					add the comment with the PostCSS and Autoprefixer versions at the top of the result
				{% endif %}
				{% if page.lang == 'ru' %}
					добавить комментарий с версией PostCSS и Autoprefixer в результат
				{% endif %}
			</span>
		</label>
	</div>
	<div class="settings__right">
		<button class="button js-select" type="button">
			{% if page.lang == 'en' %}
				Select result
			{% endif %}
			{% if page.lang == 'ru' %}
				Выделить результат
			{% endif %}
		</button>
	</div>
</div>

