<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
	<meta name="yandex-verification" content="1b1aa55a494642c2">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}?v={{ site.time | date: '%s%N' }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:image" content="/assets/googe_dino.png"> 

  {% if page.lang != 'en' %}
    <link rel="alternate" hreflang="en" href="{{ site.url }}/en/">
  {% endif %}

  {% if page.lang != 'ru' %}
    <link rel="alternate" hreflang="ru" href="{{ site.url }}/">
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/assets/icon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/icon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/icon/manifest.json">
  <link rel="mask-icon" href="/assets/icon/safari-pinned-tab.svg" color="#e23439">
  <link rel="shortcut icon" href="/assets/icon/favicon.ico">
  <meta name="msapplication-config" content="/assets/icon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>
