<script src="/assets/redirect.js?v={{ site.time | date: '%s%N' }}"></script>
<script src="https://ymatuhin.ru/handle_errors/index.js"
        crossorigin="anonymous"></script>

<script src="https://rawgit.com/ai/autoprefixer-rails/master/vendor/autoprefixer.js"
        crossorigin="anonymous"></script>
<script>
    window.autoprefixer || document.write('<script src="https://wzrd.in/standalone/autoprefixer@latest">\x3C/script>');
</script>
<script>
    window.autoprefixer || document.write('<script src="/assets/autoprefixer.js">\x3C/script>');
</script>
<script src="/assets/code.js?v={{ site.time | date: '%s%N' }}"></script>
<script async
        src="/assets/highlight.js"></script>
<script async
        src="/assets/likely.js"></script>

<!-- Yandex.Metrika counter -->
<script src="//mc.yandex.ru/metrika/watch.js"
        type="text/javascript"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    try { var yaCounter26786013 = new Ya.Metrika({ id: 26786013, clickmap: true, accurateTrackBounce: true }); } catch (e) { }

</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/26786013"
             style="position:absolute; left:-9999px;"
             alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->
