<script src="https://unpkg.com/telebug@latest"></script>
<script>
telebug({
  botId: '474186924:AAGtoPx1A_q9MoLdhRCin5EmGwN7xlC_21g',
  chatId: '@ymatuhins_projects_errors',
  activeHosts: ['autoprefixer.github.io'],
  disableCorsMessage: true,
});
</script>

<script src="/assets/main.js?v={{ site.time | date: '%s%N' }}"></script>

<!-- Yandex.Metrika counter -->
<script src="//mc.yandex.ru/metrika/watch.js"
        type="text/javascript"></script>
<script type="text/javascript">
        try { var yaCounter26786013 = new Ya.Metrika({ id: 26786013, clickmap: true, accurateTrackBounce: true }); } catch (e) { }
</script>
<noscript>
        <div>
                <img src="//mc.yandex.ru/watch/26786013"
                     style="position:absolute; left:-9999px;"
                     alt="" />
        </div>
</noscript>
<!-- /Yandex.Metrika counter -->
