<script src="https://d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js"></script>
<script>window.bugsnagClient = bugsnag('8729db6e83788a8116b19bca4c594a13')</script>

<script src="/assets/main.js?v={{ site.time | date: '%s%N' }}"></script>

<!-- Yandex.Metrika counter -->
<script src="https://mc.yandex.ru/metrika/watch.js"></script>
<script>
	try { var yaCounter26786013 = new Ya.Metrika({ id: 26786013, clickmap: true, accurateTrackBounce: true }); } catch (e) { }
</script>
<noscript>
	<div>
		<img src="https://mc.yandex.ru/watch/26786013"
			style="position:absolute; left:-9999px;"
			alt="">
		</div>
</noscript>
<!-- /Yandex.Metrika counter -->
