{% if page.lang == 'ru' %}
    <div class="likely likely-big">
        <button type="button" class="twitter" data-via="ymatuhin">Твитнуть</button>
        <button type="button" class="facebook">Поделиться</button>
        <button type="button" class="gplus">Плюсануть</button>
        <button type="button" class="vkontakte">Поделиться</button>
        <button type="button" class="telegram">Отправить</button>
    </div>
{% endif %}

{% if page.lang == 'en' %}
    <div class="likely likely-big">
        <button type="button" class="twitter" data-via="ymatuhin">Tweet</button>
        <button type="button" class="facebook">Share</button>
        <button type="button" class="linkedin">Link</button>
        <button type="button" class="gplus">Plus</button>
        <button type="button" class="vkontakte">Share</button>
        <button type="button" class="telegram">Send</button>
    </div>
{% endif %}
