/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 2 version
*/

body {
  margin-top: calc(24px + 2vh) !important;
  margin-bottom: calc(24px + 2vh) !important;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 38rem;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0;
}

a:link {
  border-bottom: 1px solid rgba(0, 137, 255, 0.3);
  color: #0089ff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease;
}

a:visited {
  border-color: rgba(180, 14, 180, 0.3);
  color: #b40eb4;
}

a:link:hover,
a:visited:hover {
  border-color: rgba(244, 18, 36, 0.3);
  color: #f41224;
}

.ads {
  overflow: hidden;
  margin-bottom: 12px;
}

.line {
  height: 1.5em;
}

.textarea {
  display: block;
  overflow: auto;
  margin: 0;
  padding: 1em;
  min-height: 60vh;
  width: 100%;
  height: 10em;
  border: 0;
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 0 1px #ddd;
  box-shadow: 0 0 0 1px #ddd;
  font-family: "Fira Code", "Operator Mono", Consolas, Monaco, "Andale Mono",
    monospace;
  resize: none;

  -webkit-appearance: none;

  &-right {
    background: #eee;
  }

  @media (max-width: 920px) {
    min-height: 30vh;
  }
}

.textarea-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 10px;

  @media (max-width: 920px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1em 0;

  &__right {
    margin-left: auto;
  }
}

.settings__version {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  padding-top: 6px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    margin-right: 6px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.select {
  margin-left: auto;
}

.logo_and_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 1.5em 0;

  img {
    margin-right: 1.5em;
  }

  h1 {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.button {
  cursor: pointer;
  padding-right: 1.5em;
  padding-left: 1.5em;
  height: 32px;
  border: 0;
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 0 1px #ddd;
  box-shadow: 0 0 0 1px #ddd;
}

.filter {
  line-height: 32px;

  &__text {
    padding-right: 12px;
  }

  [type="text"] {
    padding-right: 0.5em;
    padding-left: 0.5em;
    height: 32px;
    border: 0;
    -webkit-box-shadow: 0 0 0 1px #ddd;
    box-shadow: 0 0 0 1px #ddd;
  }
}

input,
select,
textarea,
[contenteditable] {
  &:focus {
    position: relative;
    z-index: 10;
  }
}

.version {
  position: absolute;
  right: 0;
  bottom: 100%;
  margin: 0;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 80%;
}

.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
  animation: octocat-wave 560ms ease-in-out;
}

@-webkit-keyframes octocat-wave {
  0%,
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    -webkit-animation: none;
    animation: none;
  }
  .github-corner .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
    animation: octocat-wave 560ms ease-in-out;
  }
}
