@import '../../../shared/styles/variables.scss';

$padding-vertical: $font-size / 2;
$padding-horizontal: $font-size;

.root {
  overflow: auto;
  padding: 0;
}

.holder {
  display: table;
  min-height: 100%;
  width: 100%;
}


.lineNumbers,
.codeArea {
  display: table-cell;
  vertical-align: top;
  transition: width .3s $easing;
}

.codeArea {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

.pre,
.textarea {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding: $padding-vertical $padding-horizontal;
  min-width: 100%;
  border: 0;
  vertical-align: top;
  white-space: pre;
}

.lineNumber,
.pre,
.textarea {
  font: inherit;
  font-size: .8rem;
  font-family:  $font-mono;
  line-height: $line-height;
}

.textareaWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.textarea {
  width: 100%;
  height: calc(100% + #{$lh});
  background: transparent;
  opacity: .5;
  resize: none;

  &:focus {
    outline: none;
  }
}

.lineNumbers {
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;
  width: 1%;
  background: rgba(0,0,0, .25);
  text-align: right;
}

.lineNumber {
  display: block;
  padding: 0 $font-size / 2 0 $font-size;
  color: var(--color-text-3);
  line-height: $line-height;

  &[data-added="true"] {
    background: green;
  }
  &[data-deleted="true"] {
    background: red;
  }
}
