@import "../../styles/variables.scss";

.root {
  position: relative;
  margin-top: $lh * 3;
  margin-bottom: $lh;

  @media (max-width: #{$container-medium + $document-offset * 4}) {
    text-align: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto $document-offset/2;
  width: $logo-size-mobile;
  height: $logo-size-mobile;

  @media (min-width: #{$container-medium + $document-offset * 4}) {
    position: absolute;
    top: 50%;
    right: 100%;
    margin: 0 $document-offset 0 0;
    width: $logo-size-desktop;
    height: $logo-size-desktop;
    transform: translateY(-50%);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.title {
  margin: 0;
}
