---
layout: default
permalink: /
lang: en
title: Autoprefixer CSS online – make your vendor prefixes is actual
description: Autoprefixer CSS online add the desired-vendor prefixes and remove unnecessary in your CSS. Auto, prefix, crossbrowser.
---

{% include ads.html %}
{% include title.html %}
{% include code-box.html %}
{% include filter.html %}

<p>You can also see which browsers you choose by filter string on <a href="http://browserl.ist">browserl.ist</a></p>

<h2>What is it</h2>
<p>
	Autoprefixer is a service for managing vendor prefixes. It adds missing prefixes and deletes obsolete ones. It is <a href="https://developers.google.com/web/tools/setup/setup-buildtools#dont_trip_up_with_vendor_prefixes">recommended</a> by Google and used by Twitter and Taobao.
</p>

{% include ads.html %}
<h3>How does it work</h3>
<p>The autoprefixer uses data on the popularity of browsers and support for vendor prefixes by browsers. Based on this information, it arranges and deletes the prefixes.</p>

<h3>Browser filter</h3>
<p>You can configure which browsers to generate prefixes for in the distribution. More details on the syntax are in the <a href="https://github.com/postcss/autoprefixer#browsers">documentation<a>. There is also a block in the <a href="https://github.com/postcss/autoprefixer#faq">FAQ</a>.

<p>{% include sharing-buttons.html %}</p>

{% include footer.html %}
