---
layout: default
permalink: /ru/
lang: ru
title: Автопрефиксер CSS онлайн – забудьте про вендорные префиксы в CSS
description: Автопрефиксер CSS онлайн (autoprefixer css online) — инструмент для расстановки вендорнов префиксов для нужных браузеров. #autoprefixer #online #css #автопрефиксер #вендорные префиксы #браузер #свойства #transition #transform #perspective #user-select #linear-gradient #webkit #moz #flex #кроссбраузерно
---

{% include ads.html %}
{% include title.html %}
{% include code-box.html %}
{% include filter.html %}


<h2>Что это</h2>
<p>
	Автопрефиксер — сервис для управления вендорными префиксами. 
	Он добавляет недостающие префиксы и удаляет устаревшие.
	Его <a href="https://developers.google.com/web/tools/setup/setup-buildtools#dont_trip_up_with_vendor_prefixes">рекомендуют</a> к использованию Google, и используют в Twitter и Taobao.
</p>

{% include ads.html %}
<h3>Как работает</h3>
<p>Автопрефиксер использует данные о популярности браузеров и поддержкой вендорных префиксов браузерами. Опираясь на эту информацию он расставляет и удаляет префиксы.</p>

<h3>Фильтр бразуеров</h3>
<p>Вы можете настроить какие браузеры учитывать в расставлении префиксами. Подробнее с синтаксисом в <a href="https://github.com/postcss/autoprefixer#browsers">документации</a>. Там-же есть блок с <a href="https://github.com/postcss/autoprefixer#faq">вопросами и ответами</a>.</p>

<p>{% include sharing-buttons.html %}</p>

{% include footer.html %}
